---
---

//header

.site-header {
  background-color: white;
  border-top: 0;
  box-shadow: 0 2px 5px #333;
}

.site-title,
.site-title:visited {
  color: #575757;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding-top: 0;
  flex: 1;
  &:hover {
    color: #00524c;
    text-decoration: none;
  }
}

.site-nav {
  font-size: 16px;
  letter-spacing: .05em;
  padding-top: 0;
  text-align: right;
  flex: 1;
  .page-link {
    color: #797979;
    &:hover {
      color: #008476;
      text-decoration: none;
    }
  }
}

// content
.page-content {
  padding: 0;
  article {
    margin-top: 30px;
  }
}

ul {
  margin-bottom: 5px;
}

.center-text {
  text-align: center;
}

// blog
.blog-hero {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
ul.post-list {
  margin: 50px 0;
  a {
    color: #333;
  }
  a:hover {
    text-decoration: none;
    .teaser-txt-wrapper {
      background-color: #f6f6f6;
      span {
        color: blue;
        visibility: visible;
      }
    }
  }
  li {
    border: 1px solid #ccc;
    border-radius: 5px;
    clear: both;
    margin-bottom: 30px;
    .post-meta {
      font-size: .8em;
      text-transform: uppercase;
    }
    a.post-link {
      border-radius: 20px;
    }
    h2 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.8em;
      line-height: 1.2;
      margin: 10px 0 5px 0;
    }
    .post-meta {
      margin: 0 0 5px 0;
    }
  }
}

.teaser-img-wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  .blog-teaser-image {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    width: 100%;
    height: auto;
  }
}

.teaser-txt-wrapper {
  background-color: white;
  padding: 10px 30px;
  span {
    font-size: .8em;
    visibility: hidden;
  }
}

article.post {
  h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  margin: 30px 0 5px 0;
  }
  .post-meta {
    text-transform: uppercase;
  }
}

.post-content > p:first-of-type {
  font-size: 1.3em;
  color: #575757;
}

.post-link {
  font-family: 'Roboto Condensed', sans-serif;
}

h2.blog-intro {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 40px 0 30px 0;
}

.blog-breadcrumb {
  display: block;
  margin-bottom: 30px;
  font-size: .8em;
}

//page-specific

.resume {
  h2 {
    color: #797979;
    font-size: 1em;
    font-weight: bold;
    padding: 2em 0 0;
    text-transform: uppercase;
    &:first-of-type {
      padding-top: 0;
    }
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 15px;
  }
  p {
    margin-bottom: 5px;
  }
}

// contact
.page-content.contact {
  background-image: url("/assets/images/airplane-girl.jpg");
  background-size: cover;
  min-height: 600px;
  h2 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-top: 90px;
  }
  p {
    color: white;
    a {
      color: white;
    }
    span {
      color: rgba(255, 255, 255, 0.8);
      font-size: .9em;
      font-weight: bold;
      letter-spacing: .05em;
      text-transform: uppercase;
    }
    i {
      padding-right: 1em;
    }
  }
}


// about page-specific
.story-text {
  background-color: rgba(255, 255, 255, .4);
  font-size: 1.1em;
  line-height: 1.6em;
  margin: 0;
  min-height: 600px;
  padding: 60px 40px 60px 40px;
  width: 40%;
  @media screen and (max-width: 550px) {
    padding: 40px 20px;
    width: 70%;
  }
  .leadin {
    color: #3c3535;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 20px;
  }
  hr {
    height: 20px;
    border-style: solid;
    border-color: #3c3535;
    border-width: 1px 0 0 0;
    border-radius: 20px;
  }
  hr:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -21px;
    border-style: solid;
    border-color: #3c3535;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
}

.intro {
  background-image: url("/assets/images/flower-boy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 30px #000000;
}

.cities {
  background-color: #3c3535;
  padding: 90px 0 0 0;
  .story-text {
    background-color: transparent;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
    padding: 30px 0 30px 0;
    text-align: center;
    width: 100%;
  @media screen and (max-width: 550px) {
    text-align: left;
  }
    img {
      margin-bottom: 20px;
    }
  }
}

.conclusion {
  background-image: url("/assets/images/girl-heart.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 30px #000000;
  background-repeat: no-repeat;
  .story-text {
    background-color: rgba(33, 33, 33, .4);
    color: white;
    min-height: 600px;
    .three-leadin {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 2em;
      font-weight: bold;
      line-height: 1.1;
      color: white;
      padding-bottom: 0;
    }
  }
}

